{% extends 'YumchaWebsiteBundle::layout.html.twig' %}

{% block content %}
    <section id="bubbles">
        <img src="/img/abanico.jpg" alt="">
        <ul id="bubbles_intro" class="clearfix">
        <li>
            <h3>{{ attribute(texts['que_es_bubble_tea'], 'text' ~ app.request.locale) | striptags | raw }}</h3>
            {{ attribute(texts['que_es_bubble_tea_text'], 'text' ~ app.request.locale) | raw }}
            <img src="/img/queesbubbletea.jpg" alt="">
        </li>
        <li>
            <h3>{{ attribute(texts['bubble_tea_origens'], 'text' ~ app.request.locale) | striptags | raw }}</h3>
            {{ attribute(texts['bubble_tea_origens_text'], 'text' ~ app.request.locale) | raw }}
        </li>
        <li>
            <h3>{{ attribute(texts['perles_tapioca'], 'text' ~ app.request.locale) | striptags | raw }}</h3>
            {{ attribute(texts['perles_tapioca_text'], 'text' ~ app.request.locale) | raw }}
            <img src="/img/tapioca.jpg" alt="">
        </li>
        </ul>
        <article>
            <h2>01</h2>
            <h3>{{ 'bubbles.base' | trans }}</h3>
            <h4>{{ 'bubbles.teverd' | trans }}</h4>
            <h4>{{ 'bubbles.tenegre' | trans }}</h4>
            <h4>{{ 'bubbles.cafe' | trans }}</h4>
            <h4>{{ 'bubbles.matcha' | trans }}</h4>
        </article>
        <article>
            <h2>02</h2>
            <h3>{{ 'bubbles.sabor' | trans }}</h3>
            <h4>{{ 'bubbles.sensellet' | trans }}</h4>
            <h4>{{ 'bubbles.ambllet' | trans }}</h4>
        </article>
        <article>
            <h2>03</h2>
            <h3>{{ 'bubbles.bubbles' | trans }}</h3>
            <h4>Tapioca</h4>
            <br>
            <h4>Gelatines</h4>
            <p>Maduixa</p>
            <p>Poma verda</p>
            <br>
            <h4>Poppings</h4>
            <p>Litxi</p>
            <p>Mango</p>
            <br>
            <h4>Altres</h4>
            <p>Aloe Vera</p>
        </article>
        <article>
            <h2>04</h2>
            <h3>{{ 'bubbles.sucre' | trans }}</h3>
            <p>{{ 'bubbles.sensesucre' | trans }}</p>
            <p>{{ 'bubbles.dolç' | trans }}</p>
            <p>{{ 'bubbles.moltdolç' | trans }}</p>
            <p>{{ 'bubbles.sacarina' | trans }}</p>
        </article>
        <article>
            <h2>05</h2>
            <h3>{{ 'bubbles.llet' | trans }}</h3>
            <h4>{{ 'bubbles.ambllet' | trans }}</h4>
            <p>{{ 'bubbles.soja' | trans }}</p>
            <p>{{ 'bubbles.desnatada' | trans }}</p>
            <p>{{ 'bubbles.sensellet' | trans }}</p>
        </article>
    </section>
    <aside id="bubbles_sidebar">
        <h3>{{ attribute(texts['bubble_especialitats'], 'text' ~ app.request.locale) | striptags | raw }}</h3>
        {% for special in specials %}
            <article>
                <img src="/uploads/special_bubbles/{{ special.photo }}" width="60">
                {{ attribute(special, 'text' ~ app.request.locale) | raw }}
            </article>
        {% endfor %}
    </aside>
{% endblock %}