{% extends 'YumchaWebsiteBundle::layout.html.twig' %}

{% block content %}
    <section id="news">
    {% for entry in news | slice(0, 20) %}
        <article>
            <div class="new_img">
                <a href="{{ entry.link }}" title="{{ entry.title | raw }}" target="_blank"><img src="{{ entry.img }}" alt="{{ entry.title | raw }}"></a>
            </div>
            {{ entry.title | raw }} <a href="{{ entry.link }}" title="{{ entry.title | raw }}" target="_blank">{{ 'common.news.readmore' | trans }}</a>
        </article>
    {% endfor %}
    </section>
{% endblock %}