{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block title 'Yumcha.es ' %}
{% block menu %}
    {% set menuItems = [
    {anchor: 'Textos', link: path('admin_text')},
    {anchor: 'Gelats', link: path('admin_icecreamcategory')},
    {anchor: 'Gelats Esp', link: path('admin_specialicecream')},
    ] %}
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">Yumcha.es</a>
                <ul class="nav">
                    <li{% if app.request.requesturi == path('admin_text') %} class="active"{% endif %}><a href="{{ path('admin_text') }}">Textos</a></li>
                    <li class="dropdown" data-dropdown="gelats">
                        <a href="#" class="dropdown-toggle">Gelats <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('admin_icecreamcategory') }}">Gelats</a></li>
                            <li><a href="{{ path('admin_specialicecream') }}">Especialitats</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" data-dropdown="bubbles">
                        <a href="#" class="dropdown-toggle">Bubbles <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {#<li><a href="{{ path('admin_bubblesflavourcategory') }}">Sabor</a></li>#}
                            {#<li><a href="{{ path('admin_bubblesbubblecategory') }}">Bubbles</a></li>#}
                            <li><a href="{{ path('admin_specialbubble') }}">Especialitats</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="filters-right"><a class="btn btn-danger" href="{{ path('admin_logout') }}">Sortir</a></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ asset('bundles/yumchawebsite/js/bootstrap-dropdown.js') }}"></script>
{% endblock %}